[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
sympy = "*"
mpmath = "*"
matplotlib = "*"

[dev-packages]
isort = "*"
flake8 = "*"
pre-commit = "*"
commitizen = "*"

[requires]
python_version = "3.8"
